name: Release

on:
  push:
    tags:
      - "*"
  workflow_dispatch:
## TODO:
##workflow_dispatch:
##  inputs:
##    tag:
##      description: 'Tag to create a release'
##      required: true

jobs:
  build:
    name: Release binary
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        target:
          [
            x86_64-pc-windows-gnu,
            x86_64-pc-windows-msvc,
            x86_64-unknown-linux-gnu,
          ]
        cross: [true, false]
        exclude:
          - os: windows-latest
            target: x86_64-unknown-linux-gnu
          - os: windows-latest
            cross: true
          - os: ubuntu-latest
            target: x86_64-pc-windows-msvc
          - os: ubuntu-latest
            target: x86_64-pc-windows-gnu
          - os: ubuntu-latest
            cross: false
        include:
          - os: macos-latest
            target: aarch64-apple-darwin
            cross: false
          - os: macos-latest
            target: x86_64-apple-darwin
            cross: false
    env:
      asset_prefix: VRCKeyboard

    runs-on: ${{ matrix.os }}

    steps:
      # Caching the git-lfs repository to reduce the bandwidth usage.
      - name: Checkout repository
        uses: nschloe/action-cached-lfs-checkout@v1

      - name: Install Rustup using win.rustup.rs
        if: matrix.os == 'windows-latest'
        run: |
          # Disable the download progress bar which can cause perf issues
          $ProgressPreference = "SilentlyContinue"
          Invoke-WebRequest https://win.rustup.rs/ -OutFile rustup-init.exe
          .\rustup-init.exe -y --default-host=x86_64-pc-windows-msvc --default-toolchain=none
          del rustup-init.exe
          rustup target add ${{ matrix.target }}
        shell: powershell

      - name: Add mingw64 to path for x86_64-gnu
        run: echo "C:\msys64\mingw64\bin" >> $GITHUB_PATH
        if: matrix.target == 'x86_64-pc-windows-gnu' && matrix.channel == 'stable'
        shell: bash

      # Installing the linux toochain because `cross` command on linux is used for Windows compilation.
      - name: "Install stable toolchain (when `matrix.cross` is `true`)."
        if: ${{ matrix.cross }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          target: x86_64-unknown-linux-gnu

      - name: "Install stable toolchain (when `matrix.cross` is `false`)."
        if: (! ${{ matrix.cross }})
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          target: ${{ matrix.target }}

      - name: Set `docker` as the container engine of `cross`.
        if: ${{ matrix.cross }}
        run: |
          echo "CROSS_CONTAINER_ENGINE=docker" >> "$GITHUB_ENV"

      # Caching the build cache to reduce the compilation time (when `matrix.cross` is `false`).
      # This project uses `cross` to compile to non-native targets. And this action not supported. It's why there's nothing effective even if it uses it.
      - name: "Rust Cache (when `matrix.cross` is `false`)."
        if: (! ${{ matrix.cross }})
        uses: Swatinem/rust-cache@v2.3.0

      - uses: satackey/action-docker-layer-caching@v0.0.11
        if: ${{ matrix.cross }}
        # Ignore the failure of a step and avoid terminating the job.
        continue-on-error: true

      # Installing cargo-bundle to bundle binaries.
      # FIXME: cargo-bundle is not supported using with `cross` command. So it couldn't bundle Windows' msi on linux.
      - name: Install cargo-bundle to bundle binaries.
        if: (! ${{ matrix.cross }})
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-bundle --verbose

      # Building the release binary for Windows with all features enabled using `cross` command on x86_64-linux.
      - name: Release build with all features (when the target is Windows).
        uses: actions-rs/cargo@v1
        if: (! ${{matrix.cross}} )
        with:
          command: build
          args: --release --target ${{ matrix.target }} --features release

      # Building the release bundle for the target-specific format with `cargo-bundle` command natively on x86_64-linu.
      - name: "Build and Bundle deps with all features (when the target is not Windows). (with `cross`)"
        uses: actions-rs/cargo@v1
        if: ( ${{matrix.cross}} )
        with:
          use-cross: true
          command: bundle
          args: --release --target ${{ matrix.target }} --features release

      # Showing the build result.

      # Installing `tre` command to show the build result.
      - name: Install tre command
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: tre-command

      - name: Show the build result
        env:
          MD_CODEBLOCK: "```"
        run: |
          echo "# ${{ matrix.target }} build result:" >> "$GITHUB_STEP_SUMMARY"
          echo "" >> "$GITHUB_STEP_SUMMARY"
          echo ""${MD_CODEBLOCK}"bash" >> "$GITHUB_STEP_SUMMARY"
          echo "${MD_CODEBLOCK}" >> "$GITHUB_STEP_SUMMARY"
        shell: bash

      - name: Set the release version
        run: |
          echo "version=$(echo ${{ github.ref }} | sed -e "s#refs/tags/##g")" >> "$GITHUB_ENV"
        shell: bash

      - name: Set the asset names
        run: |
          echo 'asset_name=${{ env.asset_prefix }}-${{ matrix.target }}-${{ env.version }}${{ matrix.asset_suffix }}' >> $GITHUB_ENV
          echo 'asset_name_deb=${{ env.asset_prefix }}-${{ matrix.target }}-${{ env.version }}${{ matrix.asset_suffix }}.deb' >> $GITHUB_ENV
          echo 'asset_name_msi=${{ env.asset_prefix }}-${{ matrix.target }}-${{ env.version }}${{ matrix.asset_suffix }}-installer.msi' >> $GITHUB_ENV
          echo 'asset_name_exe=${{ env.asset_prefix }}-${{ matrix.target }}-${{ env.version }}${{ matrix.asset_suffix }}-portable.exe' >> $GITHUB_ENV
          echo 'asset_name_app=${{ env.asset_prefix }}-${{ matrix.target }}-${{ env.version }}${{ matrix.asset_suffix }}.app' >> $GITHUB_ENV
        shell: bash

      # Compressing the release binaries or bundles in order to upload them as a single file.
      - name: Compress binaries
        if: endsWith(matrix.target, '-linux-gnu')
        run: |
          mv target/${{ matrix.target }}/release/bundle/deb/*.deb target/${{ env.asset_name_deb }}
        shell: bash
        continue-on-error: true

      - name: Compress binaries
        if: startsWith(matrix.target, 'x86_64-pc-windows')
        run: |
          mv target/${{ matrix.target }}/release/bundle/msi/*.msi target/${{ env.asset_name_msi }}
        shell: bash
        continue-on-error: true

      - name: Compress binaries
        if: startsWith(matrix.target, 'x86_64-pc-windows')
        run: |
          mv target/${{ matrix.target }}/release/vrc-keyboard.exe target/${{ env.asset_name_exe }}
        shell: bash
        continue-on-error: true

      - name: Compress binaries
        if: endsWith(matrix.target, 'darwin')
        run: |
          mv target/${{ matrix.target }}/release/*.app target/${{ env.asset_name_app }}

      # Uploading the release binaries or bundles to the release page.
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@2.1.1
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file_glob: true
          file: target/${{ env.asset_name }}*
          tag: ${{ github.ref }}
          overwrite: true
